<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Results</th>
            </tr>
        </thead>
        <tblock th:each="item : ${tableChoices}">
            <tr>
            <td th:text="${item.getValue()}"></td>
            </tr>
        </tblock>
    </table>

</div>

</body>
</html>